.Toastify__toast-container {
  width: 400px;
}

.customToast {
  padding: 0;

  &__body {
    background-color: transparent;
    display: flex;
    margin: 0;
  }

  &__body-container {
    display: flex;
  }

  &__ribbon {
    padding: 10px;
    align-self: center;
  }

  &__text {
    padding: 10px;
    background-color: white;
    color: #333333;
  }
}